.form {
    display: grid;
    gap: theme('spacing.lg');
}

.form [type="submit"] {
    cursor: pointer;
    border: 2px solid theme('colors.gray-100');
    outline: none;
    background: transparent;
    color: theme('colors.gray-100');
    font-weight: bold;
    font-size: theme('fontSize.3');
    text-transform: uppercase;
    padding: theme('spacing.sm') theme('spacing.lg');
    border-radius: 14px;
    transition: all 0.35s ease-in-out;
    letter-spacing: 0.1em;
    justify-self: flex-end;
}

.form [type="submit"]:hover {
    background:  theme('colors.gray-100');
    color:  theme('colors.gray-700');
}

@media only screen and (min-width: 1024px) {
    .form {
        width: 1024px;
        align-self: center;
    }
}

.fieldset {
    display: grid;
    gap: theme('spacing.xs');
    padding: 0;
}

.fieldset label {
    letter-spacing: 0.1em;
}

.fieldset textarea {
    height: 4em;
    resize: none;
}

.fieldset textarea,
.fieldset input {
    color: theme('colors.gray-100');
    background: none;
    border: none;
    outline: 2px solid theme('colors.gray-100');
    font-size: theme('fontSize.3');
    line-height: 1.25;
    min-height: 24px;
    padding: theme('spacing.sm');
    border-radius: 10px;
    letter-spacing: 0.05em;
}

.fieldset input::placeholder,
.fieldset textarea::placeholder {
    color: theme('colors.gray-100');
}
