.base {
    display: grid;
    gap: theme('spacing.lg');
}

.base [type="submit"] {
    cursor: pointer;
    border: 2px solid theme('colors.gray-100');
    outline: none;
    background: transparent;
    color: theme('colors.gray-100');
    font-weight: bold;
    font-size: theme('fontSize.3');
    text-transform: uppercase;
    padding: theme('spacing.sm') theme('spacing.lg');
    border-radius: 14px;
    transition: all 0.35s ease-in-out;
    letter-spacing: 0.1em;
    justify-self: flex-end;
}

.base [type="submit"]:hover {
    background:  theme('colors.gray-100');
    color:  theme('colors.gray-700');
}