.list {
    display: flex;
    gap: theme('spacing.xs');
}

.listItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.15s color ease-out;
}

.listItem:not(:last-of-type)::after {
    content: '•';
    margin-left: theme('spacing.xs');
}

.listItem a {
    text-transform: uppercase;
    font-size: theme('fontSize.3');
}
