.list {
    display: flex;
    gap: theme('spacing.sm');
}

.listItem {
    text-transform: uppercase;
    font-size: theme('fontSize.3');
}

.listItem.selected,
.listItem.selected:hover {
    color: theme('colors.primary');
}
