@font-face {
    font-family: 'RobotoSlab';
    font-display: swap;
    src: url('/fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoSlab';
    font-display: swap;
    src: url('/fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tenez';
    font-display: swap;
    src: url('/fonts/tenez-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'RobotoSlab';
}
