@tailwind base;
@tailwind utilities;

@layer base {
    body {
        font-weight: theme('fontWeight.normal');
        background-color: theme('backgroundColor.dark');
        color: theme('textColor.primary');
    }
}