@import './fonts.css';

@tailwind base;
@tailwind utilities;

@layer base {
    body {
        background-color: theme('colors.primary-2');
        color: theme('colors.gray-100');
        font-size: theme('fontSize.3');
        font-style: normal;
        font-smooth: always;
        font-weight: theme('fontWeight.normal');
        text-rendering: optimizeLegibility;
        letter-spacing: 0.05em;
    }
}