.list {
    display: flex;
    gap: theme('spacing.sm');
}

.listItem {
    text-transform: uppercase;
    font-size: theme('fontSize.3');
    transition: 0.15s color ease-out;
}

.selected {
    color: theme('colors.primary');
}

@media only screen and (max-width: 1023px) {
    .list {
        flex-direction: column;
        align-items: center;
    }

    .listItem {
        font-size: theme('fontSize.5');
    }
}
